<header class="header">
  <div class="navbar-left">
    <button class="navbar-boards-list">
      <img class="trellicon" src="<%= image_path('trellicon.png') %>">
      <span>Boards</span>
    </button>
    <input class="navbar-search" type="text" value="">
  </div>

  <div class="navbar-center">
    <img class="trellogo" src="<%= image_path('trellogo.png') %>">
  </div>

  <div class="navbar-right">
    <button class="navbar-add-board"><span>+</span></button>
    <button class="navbar-user-options">
      <img class="user-picture" src="<%= image_path('katt.jpeg') %>">
      <span><%= current_user.email %></span>
    </button>
    <button class="navbar-notifications-list"><span>A</span></button>
  </div>
</header>


<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
